*{
    font-family: 'Poppins', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}

.container
{
width: 93vw;
height: 80vh;


}

.header
{
    display: flex;
    justify-content:  space-between;
    background-color: rgb(17, 0, 255);
    width: 100%;
    padding: 3%;
    border-radius: 10px;

}
.header_content{
    color: white;

}
.header_content h1
{
    margin: 0%;
    line-height: 1.3em;
}
 .header_content p {
        margin-top: 10px;
        line-height: 1.5em;
        font-size: 14px;
    }
    .information{
        margin-top: 2em;
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    .card{
        -webkit-box-shadow: 5px 5px 9px 5px #d4d4d4; 
        box-shadow: 5px 5px 9px 5px #d4d4d4;
        height:200px;
        width:40%;
        border-radius:4px;
        padding: 20px;
    }
    .card button{
        background-color: rgb(17, 0, 255);
        padding: 10px 20px;
        color:white ;
        border:unset;
        border-radius:4px;
        text-align: left;
        width: 30%;

    }


    .slideshow {
        overflow: hidden;
        height: 500px;
        width: 728px;
        margin: 0 auto;
        }

        .slidewrapper {
            width: 3000px;
            animation: slide 18s infinite;
            }

            .sliding_image1{
                margin-top: 50px;
                float: left;
                height: 500px;
                width: 728px;
                }

                .sliding_image1:nth-child(1){
                    background-image: url(../images//assests/security.jpg);
                }
                .sliding_image1:nth-child(2){
                    background-image: url(../images//assests/bg.jpg);
                }

                @keyframes slide {
                    20% {margin-left: 0px;}
                    30% {margin-left: -728px;}
                    50% {margin-left: -728px;}
                }